{
    "env": {
        "node": true,
        "es2021": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "comma-dangle": [
            "error",
            {
                "functions": "never"
            }
        ],
        "indent": [
            "error",
            2
        ],
        "max-len": [
            "warn",
            {
                "code": 120
            }
        ],
        "quotes": [
            "error",
            "single"
        ]
    }
}